* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width:100%;
  height:50px;
  background-color:#FF9A4B;
}

footer {
  width:100%;
  height:50px;
  background-color:#AAAAAA;
}

.main {
  width:960px;
  margin:50px auto;
  display:flex;
  justify-content:space-between;
}
.box {
  margin-right:30px;
  padding:10px;
  width:300px;
  position:relative;
  background-color: #EEEEEE;
}
.box:last-child {
  margin-right:0;
}
.pic1 {
  background-image:url(img/flow01.png);
  background-size:cover;
  background-position:bottom;
  height:150px;
}
.step1 {
  color:white;
  background-color:#FF9A4B;
  position:absolute;
  top:0;
  left:0;
}

.pic2 {
  background-image:url(img/flow02.png);
  background-size:cover;
  background-position:bottom;
  height:150px;

}
.step2 {
  color:white;
  background-color:#FF9A4B;
  position:absolute;
  top:0;
  left:0;
}

.pic3 {
  background-image:url(img/flow03.png);
  background-size:cover;
  background-position:bottom;
  height:150px;
}
.step3 {
  color:white;
  background-color:#FF9A4B;
  position:absolute;
  top:0;
  left:0;
}

.text {
  margin:0 auto ;
}
h3 {
  margin:15px 0 5px;
}
.detail {
  flex-wrap:wrap;
}
